# ===================================
# Ignorar ambientes virtuais
# ===================================
.venv/
env/
venv/

# ===================================
# Ignorar cache do Python
# ===================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===================================
# Ignorar arquivos temporários
# ===================================
*.db
*.sqlite
*.xlsx
*.log
*.bak
*.tmp

# ===================================
# Ignorar pastas de build do Kivy/Buildozer
# ===================================
.buildozer/
bin/
*.apk
*.aab

# ===================================
# Ignorar arquivos do sistema
# ===================================
.DS_Store
Thumbs.db

